/* Register */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.form-control {
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
}

.btn-success {
  background-color: #3b8a4e;
  color: #fff;
  border: none;
}

.link {
  margin-top: 20px;
}

.link a {
  text-decoration: none;
  color: #343a40;
}

.link a:hover {
  color: #265531;
}
